/* =========================================================== */
/* Three-column grid for svg, node number, text                */
/* Contents of each column are wrapped in transparent div      */
/* =========================================================== */
body > div {
  display: grid;
  grid-template-columns: 200px 3em 1fr;
}
body > div > div { /* Look through grouping div to its three children*/
  display: contents;
}
body > div > div > div {
  border: 1px solid black;
  margin: -1px 0 0 -1px; /* https://stackoverflow.com/questions/17915865/how-to-make-borders-collapse-on-a-div */
}
/* =========================================================== */
/* Flow column                                                 */
/* =========================================================== */
body > div > div > div:first-child { /* svg flow */
  grid-column: 1/2;
  padding: 0;
  min-height: 40px;
  background-size: 100% 100%; /* https://stackoverflow.com/questions/40152111/svg-background-in-firefox */
}
svg {
  display: block;
}
/* =========================================================== */
/* Node number column                                          */
/* =========================================================== */
body > div > div > div:nth-child(2) { /* node number */
  grid-column: 2/3;
  text-align: right;
  font-size: small;
  line-height: 1.33em;
  padding: 5.4px 3px 0 3px;
}
/* =========================================================== */
/* Text column                                                 */
/* =========================================================== */
body > div > div > div:nth-child(3) { /* text */
  grid-column: 3/4;
  padding: 4px 3px 0 3px;
}
ul {
  margin: -1px 0 0 0;
  padding-left: 1em;
  list-style-type: none;
  text-indent: -1em;
}
.sigla {
  font-size: small;
  font-weight: bold;
}
/* =========================================================== */
/* Header row                                                  */
/* =========================================================== */
body > div > div:first-child > div {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: medium;
  background-color: lightgray;
  background-image: none;
}
/* =========================================================== */
/* Node-type background colors (columns 2 and 3)               */
/* =========================================================== */
div.agreement > div:not(:first-child) {
  background-color: lightblue;
}
div.agreementIndel > div:not(:first-child) {
  background-color: lightgoldenrodyellow;
}
div.variation > div:not(:first-child) {
  background-color: bisque;
}
div.variationIndel > div:not(:first-child) {
  background-color: thistle;
}